.container{
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
   
}

.left-container{
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;
    padding: 0.5rem 0.25rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: transform 200ms;
    
 }
 .right-container{
    padding: 0rem 0.5rem 0.5rem 0.25rem;
    height: 100vh;
 }


 .right-inner-container{

    background-image: linear-gradient(var(--background-elevated-press) 30%, var(--background-base) 70%);
    font-family: var(--encore-body-font-stack);
    padding: 0.5rem;
    border-radius: 5px;
    border-radius: 10px;
    width: 100%;
    position: relative;
    top: -3rem;

    height: 31%;
    height: 99vh;
    overflow-y: scroll;
 
}


aside{
    height: 100%;
}

.header-container{
    font-size: 1.1em;
}
.header-container, .bottom-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    font-weight: 700;
    padding: 1rem;
    border-radius: 10px;
    background-image: linear-gradient(var(--background-elevated-press) 30%, var(--background-base) 70%);
    
    
}



nav ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    
}

nav ul a{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

   
}
.logo i{
    color: var(--essential-bright-accent);
    font-size: 1.5em;
}


.bottom-header{
    padding: 2rem 1rem;
    height: 100%;
}
.library{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.library-head a{
    display: flex;
    gap: 1rem;
    font-size: 1em;
    color: var(--text-subdued);
}

.library-head a i{
    color: var(--text-subdued);   
}

.create-plalist h3, .podcast h3{
    font-size: 1em;
    padding: 0 0.5rem;
}
.create-plalist, .podcast{
    padding: 0.5rem;
    background-color: var(--background-elevated-highlight);
    border-radius: 10px;
    margin-bottom: 0.5rem;
}


.create-plalist p, .podcast p{
    font-size: 1em;
    font-weight: normal;
    padding: 0.5rem;
    color: var(--text-subdued);
}


.create-plalist button, .podcast button{
    color: black;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 500ms;
}

.create-plalist{
    padding: 0.5rem 0.2rem;
  
}


.playlist-cart-container{
    height: 9rem;
    padding: 0.2rem;
    overflow-y: scroll;
}



.site-list-item{
    padding: 0.5rem;
    font-size: small;
    font-weight: initial;
    color: var(--text-subdued);
}
.site-list-item ul li a{
    color: var(--text-subdued);
    font-size: small;
}

.site-list-item ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.english-botton{
    margin: 1rem 0;
}
.english-botton button {
    background-color: transparent;
    border: 2px solid var(--decorative-base);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 500ms;
}
.english-botton button span {
    padding: 0.2rem 0.5rem;
}
.english-botton button:hover {
    background-color: var(--background-elevated-base);
}
@media screen and (max-width: 650px) {
    .left-container {
        display: none; 
         
    }

    .right-inner-container {
        width: 100%;
    }

    .container {
        display: block;
    }
  }





.navbar-container{
    width: 100%;
    background-color: transparent;
    position: sticky;
    top: 0;
    display: flex;
    padding: 0.7rem;
    z-index: 100;
    background-color: var(--background-tinted-press);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}


.sticky{
    
    background-color: var(--background-base);
   
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-item{
    display: flex; 
    gap: 0.5rem;

}

.left-nav-icon{
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--background-press);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 500ms;
}
.left-nav-icon:hover{
    background-color: var(--background-tinted-base);
}

.right-item{
    display: flex;
    gap: 0.5rem;
}

.right-item button{
    background-color: transparent;
    border: 2px solid var(--decorative-base);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    transition: all 400ms;
    cursor: pointer;
    transition: all 500ms;
}

.right-item button:hover{
    background-color: var(--essential-base);
    border: 2px solid var(--decorative-base);
    color: var(--background-base);
}

.library-plus{
    background-color: var();
    padding: 0.rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
    cursor: pointer;
}
.library-plus:hover{
    background-color: var(--background-tinted-highlight);
}




#featured{
    margin-top: 3rem;
}

.featured{
    padding: 2rem 0px;
}


.featured-item{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}

@media screen and (max-width: 1250px) {
    .featured-item{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }


.featured-cart {
    position: relative;
    padding: 0.9rem 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-content: center;
    align-items: center;
    cursor: pointer;
    


}

.featured-cart:hover {
    background-color: var(--background-tinted-highlight);

}




.cart-image{
    width: 140px;
    height: 140px;
    border-radius: 100px;
    overflow: hidden;
}
.cart-image img{
    width: 100%;
}

.cart-contents{
    width: 100%;
}
.cart-contents h3{
    padding: 0.2rem 0;
    font-size: 1em;
}
.cart-contents p{
    padding: 0.2rem 0;
    color: var(--text-subdued);
    font-size: 15px;
}

.feature-headind{
    padding: 0.5rem;
    font-size: 1rem;
}


.musicPlayer-cart-image{
    width: 8rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 10px;
}
.musicPlayer-cart-image img{
    width: 100%;
    border-radius: 10px;
}

.musicPlayer-cart:hover{
   background-color: var(--background-elevated-highlight);
} 

 .musicPlayer-cart-image{
  width: 100%;
}


.play-btn{
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    display: flex;
    height: 35px;
    width: 35px;
    background-color: var(--essential-bright-accent);
    border-radius: 50px;
    align-items: center;
    justify-content: center;

    display: none;
}

.featured-cart:hover .play-btn{
    display: flex;
    transform: translateY(50px) 1s backword;    
}

.play-btn-bottom{
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    display: flex;
    height: 35px;
    width: 35px;
    background-color: var(--essential-bright-accent);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: none;  
}


.musicPlayer-cart:hover .play-btn-bottom{
    display: flex;
}






#toggel{
    padding: 0.4rem;
    cursor: pointer;
    display: none;
}


@media screen and (max-width: 650px) {
    #toggel{
        display: inline;
    }
  }












/* ***********/ 
.footer {
   
    font-family: sans-serif;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-col {
    flex: 1;
    margin: 0 1rem;
    min-width: 150px;
}
.footer-col h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
}
.footer-col ul {
    list-style: none;
    padding: 0;
}
.footer-col ul li {
    margin-bottom: 0.5rem;
}
.footer-col ul li a {
    color: #f6e7e7e1;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-col ul li a:hover {
    color: #1822ed;
}
.footer-social {
    display: flex;
    gap: 1rem;
}
.footer-social ul,li {
    color: #fff;
    font-size: 1.3rem;
    transition: color 0.3s;
}

.footer-social ul,li:hover{
    color:blue;
}
.footer-social a:hover {
    color: #260ff3; 
}

.footer-diviser{
    border-top: 1px solid var(--background-tinted-highlight);
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
}